:root
{
    --deepBlue: #0a5cd6;
    --lightGray: #f3f3f3;
    --gray: #6e6e6e;
}

html
{
    height: 100%;
    font-family: Lato, sans-serif;
}

body
{
    position: fixed;
    height: 100%;
    background: radial-gradient(circle, rgba(10,92,214,1) 31%, rgba(78,142,223,1) 100%);
    margin: 0;
    right: 0;
    left: 0;
}

.maintile
{
    min-height: 92%;
    font-size: 1vw;
    margin: 2% 7%;
    background-color: var(--lightGray);
    border-radius: 2vw;
}

header
{
    margin: 0 4.5%;
    display: flex;
    align-items: center;
}

.name
{
    color: black;
    margin-right: auto;
}

.name span
{
    margin: 0;
    display: inline-block;
    font-weight: 600;
}

#picked
{
    color: black;
    font-weight: 600;
}

header li
{
    padding: 1.5vmax 1.5vmax;
    display: inline-block;
}

header li a
{
    text-decoration: none;
    color: var(--gray);
}

header li a:hover
{
    opacity: 70%;
}

#clock
{
    margin-left: 4%;
    font-size: 1.5vmax;;
}

main
{
    margin: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weatherContainer
{
    padding: 4vmax 10vmax;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--deepBlue);
    border-radius: 4vmax;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#message
{
    margin: 3vmax 0 3vmax 0;
    font-size: 1.5vmax;
    font-weight: 300;
}

#enterCity
{
    width: 12vmax;
    padding: 4%;
    background-color: var(--lightGray);
    border: 0px;
    border-radius: 0.8vmax;
    box-shadow:0 0 15px 6px rgba(0, 0, 0, 0.150);
    margin: 0;
    box-sizing: border-box;
}

#enterCity:focus
{
    background-color: white;
}

#enterCity:focus, ::placeholder
{
    color: black;
}

#enterCity, textarea
{
    padding-left: 6%;
    font-size: 0.8vmax;
    font-family:inherit;
}

#enterCity, ::placeholder
{
    color: var(--gray);
}

#image
{
    width: 6.5vmax;
}

#temp
{
    padding-bottom: 4%;
    font-size: 4vmax;
    font-weight: 300;
}

#feelsLike
{
    margin-left: auto;
    margin-right: 5%;
    font-weight: 600;
}

#humidity
{
    margin-right: auto;
    font-weight: 600;
}

/* @keyframes smooth-appear
{
    from
    {
        top: 0px;
    }
    to
    {
        top: 10px;
        opacity:1;
    }
}

#airPollution
{
    background: gray;
    padding: 20px;
    position: relative;
    opacity:0;
    border-radius: 10px;
    animation: smooth-appear 5s ease forwards;
} */