:root
{
    --deepBlue: #0a5cd6;
    --lightGray: #f3f3f3;
    --gray: #6e6e6e;
}

html
{
    background: rgb(10,92,214);
    background: radial-gradient(circle, rgba(10,92,214,1) 31%, rgba(78,142,223,1) 100%);
    height: 100%;
    font-family: Lato, sans-serif;
}

body
{
    min-height: 92%;
    font-size: 1vw;
    margin: 2% 7%;
    background-color: var(--lightGray);
    border-radius: 2vw;
}

header
{
    margin: 0 4.5%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.name
{
    margin-right: auto;
}

.icon-paw
{
    color: var(--deepBlue);
}

.name span
{
    margin: 0;
    display: inline-block;
    font-weight: 600;
}

#picked
{
    color: black;
    font-weight: 600;
}

header li
{
    padding: 1.5vw 1.5vw;
    display: inline-block;
}

header li a
{
    text-decoration: none;
    color: var(--gray);
}

#clock
{
    margin-left: 4%;
    font-size: 1.5vw;;
}

main
{
    margin: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weatherContainer
{
    padding: 4vw 10vw;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--deepBlue);
    border-radius: 4vw;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#message
{
    margin-top: 4vw;
    font-size: 1.5vw;
    font-weight: 300;
}

#enterCity
{
    padding: 3%;
    background-color: var(--lightGray);
    border: 1px solid var(--gray);
    border-radius: 0.2vw;
}

#temp
{
    padding-bottom: 4%;
    font-size: 4vw;
    font-weight: 300;
}

#feelsLike
{
    margin-left: auto;
    margin-right: 5%;
    font-weight: 600;
}

#humidity
{
    margin-right: auto;
    font-weight: 600;
}

/* @keyframes smooth-appear
{
    from
    {
        top: 0px;
    }
    to
    {
        top: 10px;
        opacity:1;
    }
}

#airPollution
{
    background: gray;
    padding: 20px;
    position: relative;
    opacity:0;
    border-radius: 10px;
    animation: smooth-appear 5s ease forwards;
} */