
.icon-cloud-sun-inv:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-login:before { content: '\e803'; } /* '' */
.icon-gmail:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-github-circled:before { content: '\e806'; } /* '' */
.icon-down-open-mini:before { content: '\e808'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
